.btn {
  line-height: 4rem;
  padding: 1.1rem 5rem;
  background-color: $yellow-brand;
  border-radius: 10rem;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: #242424;

  @include responsive(480px) {
    padding: 1.1rem 1.4rem;
  }
}

.btn-products {
  border: 0.1rem solid #ffffff;
  border-radius: 10rem;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 5.5rem auto 0 auto;
  padding: 1.5rem 4rem;


  @include responsive(480px) {
    margin-top:40px;
    display:block;
  }


}
