.hero {
  width: 100%;
  height: 70rem;
  background-image: url(/images/img-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;

  @include responsive(480px) {
    background: none;
    background-color: black;
  }
}

.text-box {
  width: 100%;
  max-width: 74rem;
  height: 35rem;
  margin-top: 11.1rem;

  .program-points {
    span {
      padding: 0.5rem 1.1rem;
      background: #006d8f;
      border-radius: 12rem;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: #ffffff;

      @include responsive(480px) {
        display: none;
      }
    }

    p {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 150%;
      color: #ffffff;
      opacity: 0.7;
      margin-left: 1.2rem;
      display: inline-block;

      @include responsive(480px) {
        display: block;
        text-align: center;
      }
    }
  }

  .hero-title {
    margin-top: 3.4rem;

    p {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 4.8rem;
      line-height: 130%;
      color: #ffffff;

      @include responsive(480px) {
        display: block;
        text-align: center;
        font-size: 4rem;
      }
    }

    @include responsive(480px) {
      margin: 12px auto 0 auto;
      max-width: 366px;
      width: 100%;
    }
  }

  .hero-subtitle {
    margin-top: 2.4rem;

    p {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 150%;
      color: #ffffff;
      opacity: 0.7;

      @include responsive(480px) {
        text-align: center;
      }
    }

    @include responsive(480px) {
      margin-top: 1.6rem;
    }
  }
}

//tarifs section

.tarifs-container {
  .container-internal {
    padding-bottom: 81.86px;

    @include flex(row, center, center);
  }
}

.tarifs-box-texts {
  width: 100%;
  max-width: 62.8rem;
  height: 60.3rem;
  margin-top: 9.6rem;

  .tarifs-title {
    h2 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 4rem;
      line-height: 130%;
      letter-spacing: -0.03em;
      color: #242424;

      @include responsive(768px) {
        font-size: 32px;
      }
    }

    p {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 2.8rem;
      line-height: 130%;
      color: #616161;
      margin-top: 0.8rem;

      @include responsive(768px) {
        font-size: 2.4rem;
      }
    }

    @include responsive(768px) {
      text-align: center;
      height: auto;
    }
  }

  .box-cards {
    margin-top: 10rem;

    .card-line {
      @include flex(row, center, space-between);

      .card {
        width: 100%;
        max-width: 25.9rem;
        height: 17.9rem;

        img:nth-child(2) {
          margin-top: 1rem;
        }

        h3 {
          width: 100%;
          max-width: 22.7rem;
          font-family: Montserrat;
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 150%;
          color: #242424;
          margin-top: 1.6rem;

          @include responsive(768px) {
            text-align: center;
          }
        }

        p {
          font-size: 1.6rem;
          line-height: 150%;
          color: #616161;
          margin-top: 0.8rem;

          @include responsive(768px) {
            text-align: center;
          }
        }

        @include responsive(768px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }

      @include responsive(768px) {
        flex-direction: column;
        gap: 64px;
        height: auto;
      }
    }

    .card-second-line {
      @extend .card-line;
      margin-top: 6.8rem;

      @include responsive(768px) {
        margin-top: 6.4rem;
      }
    }

    @include responsive(768px) {
      margin-top: 6.4rem;
    }
  }

  @include responsive(768px) {
    height: auto;
  }
}

.cards-images {
  img {
    margin-top: -6.5rem;
    margin-left: 12.071rem;

    @include responsive(991px) {
      margin-left: 0px;
    }

    @include responsive(768px) {
      display: none;
    }
  }
}

//section black cards

.black-card {
  background-color: #fafafa;

  &__container-internal {
    padding-top: 10.9rem;
    padding-bottom: 13.4rem;
  }

  &__wrapper-title {
    @include flex(row, center, space-between);
  }

  &__item {
    display: flex;
    flex-direction: column;

    h2 {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 4rem;
      letter-spacing: -0.03em;
      color: #242424;
    }

    p {
      font-family: Montserrat;
      font-weight: 500;
      font-size: 2.8rem;
      color: #616161;
      margin-top: 0.8rem;
    }
  }

  &__forYou {
    @include flex(row, center, space-between);
    width: 59.2rem;
    height: 7.2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.1rem;
    border-radius: 12rem;
    border: 1px solid #c4c4c4;

    span:first-child {
      @include flex(row, center, center);
      width: 100%;
      max-width: 269px;
      height: 56px;
      left: 987px;
      background: #242424;
      border-radius: 120px;
      font-family: Montserrat;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2rem;
      letter-spacing: 0.02em;
      color: #ffffff;
    }

    span:last-child {
      margin-right: 7.4rem;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.02em;
      color: #616161;
    }
  }

  &__black {
    height: 42.4rem;
    margin-top: 8.7rem;
    background: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);
    border-radius: 1.2rem;
    padding: 97px 0px 0px 103px;
    position: relative;
  }


  &__text-wrapper {
    width: 34.1rem;
    height: 22.1rem;
  }

  &__title-wrapper {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
  }

  &__long-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 16px;
  }

  &__icon-wrapper {
    width: 169px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 44px;

    & > span {
      font-family: 'Inter';
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #FAFAFA;
    }
  }

  &__cel-img {
    position: absolute;
    bottom: 0px;
    right: 136px;
  }

  &__card-img {
    position: absolute;
    right: 232.63px;
    top: -80px;
  }

  &__logo-business {
    position: absolute;
    bottom: 53px;
    right: 72.44px;
  }

}
